body{
	background: url(../Images/bg2.png) center center no-repeat,url(../Images/0004/bg.jpg);
}
.title{
	line-height:1.5em;
}
.write_bg{
	background: #fff;
	padding:5px 10px;
}
.dashed_line1, .dashed_line2, .dashed_line3, .dashed_line4, .dashed_line5, .dashed_line6, .dashed_line7, .dashed_line8, .dashed_line9{
	border:dashed 1px #000;
	padding:5px 10px;
}
.dashed_line1{
	background: url(../Images/bg3.png) top left no-repeat;
}
.dashed_line2{
	background: url(../Images/bg3.png) bottom left no-repeat;
}
.dashed_line3{
	background: url(../Images/bg3.png) top right no-repeat;
}
.dashed_line4{
	background: url(../Images/bg3.png) bottom right no-repeat;
}
.dashed_line5{
	background: url(../Images/bg3.png) center center no-repeat;
}
.dashed_line6{
	background: url(../Images/bg3.png) repeat;
}
.dashed_line7{
	background: url(../Images/bg3.png) center left repeat-x;
}
.dashed_line8{
	background: url(../Images/bg3.png) top left repeat-y;
}
.dashed_line9{
	background: url(../Images/bg3.png) 150px 60px no-repeat;
}
